body {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #810505;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
  }
  
  html {
    margin: 0;
    padding: 0;
  }