{% extends "layout.html" %}
{% block content %}

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css')}}">

<!-- Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

<!-- Javascript -->
<script>
    let fregnaLeft;
    let fregnaRight;
    function fetchFregna() {
        fetch('/get_fregne')
        .then(response => response.json())
        .then(function(data) {
            fregnaLeftPath = data.left_path;
            fregnaLeft = data.left;
            fregnaRightPath = data.right_path;
            fregnaRight = data.right;
            document.getElementById('fregna_left').src = fregnaLeftPath;
            document.getElementById('bottoneLeft').setAttribute("data-back", "@".concat(fregnaLeft));
            document.getElementById('fregna_right').src = fregnaRightPath;
            document.getElementById('bottoneRight').setAttribute("data-back", "@".concat(fregnaRight));
        })
    }
    document.addEventListener('DOMContentLoaded', () => {
        fetchFregna();
    });

    function postFregnaLeft() {
        fetch("/post_fregna", 
            {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({vincitrice: fregnaLeft, perdente: fregnaRight})
            }
        ).then(response => response.json());
        fetchFregna()
    }
    function postFregnaRight() {
        fetch("/post_fregna", 
            {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({vincitrice: fregnaRight, perdente: fregnaLeft})
            }
        ).then(response => response.json());
        fetchFregna();
    }
</script>

<div class="choose">
    <div class="left">
        <img class="fregna_img" id="fregna_left"> <br>
        <a id = "bottoneLeft" class="bottoneMain" data-front="Sinistra" onclick="postFregnaLeft()"></a>
    </div>
    <div class="mainTitle">F<br>R<br>E<br>G<br>N<br>O<br>M<br>E<br>T<br>R<br>O</div>
    <div class="right">
        <img class="fregna_img" id="fregna_right"> <br> <br>
        <a id = "bottoneRight" class="bottoneMain" data-front="Destra" onclick="postFregnaRight()"></a>
    </div>
</div>

<footer>
    <a class="testobottom" href="/classifica">Classifica</a>
</footer>


{% endblock content %}