<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes, minimum-scale=1.0">

    <!-- favicon -->
    <link rel="icon"
      type="image/png"
      href="{{url_for('static', filename='EdoLogo.png')}}">

    <!-- Other meta tags -->
    <meta name="description" content="LOL tis is my description">
    {% if title %}
        <title>FregnoMetro - {{title}}</title>
    {% else %}
        <title>FregnoMetro</title>
    {% endif %}

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css')}}">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>
{% block content %}{% endblock %}
    </body>
</html>